body {
  background-color: burlywood;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  background-color: brown;
}

li {
  list-style: circle;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  border: 2px solid black;
  background-color: lightblue;
}
